:root {
    --main-color-rgb: 67, 59, 255;
    --text-color-rgb: 158, 223, 255;
    --secondary-color-rgb: 67, 59, 255;
    --monitor-color-rgb: 2, 0, 36;
}

@font-face {
    font-family: "Inter Thin";
    src: url("public/Fonts/Inter_28pt-Regular.ttf");
}
@font-face {
    font-family: "Inter Standard";
    src: url("public/Fonts/Inter_28pt-ExtraBold.ttf");
}
@font-face {
    font-family: "Inter Bold";
    src: url("public/Fonts/Inter_28pt-Bold.ttf");
}
@font-face {
    font-family: "Inter Bolder";
    src: url("public/Fonts/Inter_28pt-Black.ttf");
}

p.TextStyle1 {
    position: absolute;
    font-family: "Inter Bolder", sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, white, rgba(var(--text-color-rgb), 1), rgba(var(--main-color-rgb), 1));
    background-clip: text;
    color: transparent;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}
p.TextStyle2 {
    position: absolute;
    font-family: "Inter Standard", sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, white, rgba(var(--text-color-rgb), 1), rgba(var(--main-color-rgb), 1));
    background-clip: text;
    color: transparent;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}
p.TextStyle3 {
    position: absolute;
    font-family: "Inter Thin", sans-serif;
    color: white;
    margin: 0;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}
p.TextStyle4 {
    position: absolute;
    font-family: "Inter Bold", sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, white, rgba(var(--text-color-rgb), 1), rgba(var(--main-color-rgb), 1));
    background-clip: text;
    color: transparent;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}
p.h2cTextStyle {
    position: absolute;
    font-family: "Inter Standard", sans-serif;
    color: white;
    margin: 0;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}
.Glow {
    filter: blur(0.15vh);
}
.GlowSmall {
    filter: blur(0.08vh);
}
span.TextHighlight {
    background: linear-gradient(to bottom, white, rgba(var(--secondary-color-rgb), 0.5), rgba(var(--main-color-rgb), 1));
    background-clip: text;
}

/*html2canvas*/
/*region*/
div.h2cBlur {
    filter: blur(50px);
}
div.html2canvasDiv {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: pink;
    pointer-events: none;
    opacity: 0;
}
div.h2cGlowDiv {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-width: 25px;
    border-color: black;
    border-style: solid;
    box-sizing: content-box;
}
div.h2cBackgroundDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
div.h2cBar1Div {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    background: rgba(var(--main-color-rgb), 0.15);
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}
div.h2cBar2Div {
    position: absolute;
    width: 90%;
    height: 20%;
    left: 5%;
    top: 75%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}
div.h2cTextDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
p.h2cTitle {
    position: absolute;
    top: 77%;
    left: 8%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 30%;
}
p.h2cDescription {
    position: absolute;
    top: 85%;
    left: 8.2%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15%;
}
div.h2cForegroundDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
div.h2cFilterDiv {
    position: absolute;
    width: 7.5%;
    height: 7.5%;
    left: 87.5%;
    top: 5%;
    border-radius: 20px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;
}
div.h2cTagDiv {
    position: absolute;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    box-sizing: border-box;
}
p.h2cTag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19%;
    color: white;
}
div.h2cHTMLDiv {
    width: 16%;
    height: 7.5%;
    top: 10%;
    background: #F2672E;
}
div.h2cCSSDiv {
    width: 12%;
    height: 7.5%;
    top: 20%;
    background: #30AADD;
}
div.h2cJSDiv {
    width: 8%;
    height: 7.5%;
    top: 30%;
    background: #F2BF26;
}
div.h2cTHREEJSDiv {
    width: 24%;
    height: 7.5%;
    top: 40%;
    background: black;
}
div.h2cJAVADiv {
    width: 15%;
    height: 7.5%;
    top: 50%;
    background: #EC2025;
}
div.h2cCPPDiv {
    width: 12%;
    height: 7.5%;
    top: 60%;
    background: #00599C;
}
div.h2cBLENDERDiv {
    width: 24%;
    height: 7.5%;
    top: 70%;
    background: #EB7700;
}
div.h2cAFTEREFFECTSDiv {
    width: 40%;
    height: 7.5%;
    top: 80%;
    background: #D291FF;
}
div.h2cPREMIEREPRODiv {
    width: 37%;
    height: 7.5%;
    top: 90%;
    background: #EA77FF;
}
div.h2cPHOTOSHOPDiv {
    width: 32%;
    height: 7.5%;
    top: 100%;
    background: #00C9FF;
}
div.h2cBorderDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 15px;
    border-color: black;
    box-sizing: border-box;
    border-radius: 25px;
}
div.h2cHoverDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box;
    border-radius: 25px;
}
/*endregion*/

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}
div.testing2 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 10%;
    left: 10%;
    background: white;
    z-index: 99;
}
div.CenteredDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img.MonitorImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}


div.BackgroundDiv {
    position: absolute;
    width: 200%;
    height: 400%;
    background:
        radial-gradient(circle at 20% 50%, rgba(var(--secondary-color-rgb), 0.15), transparent 30%),
        radial-gradient(circle at 80% 50%, rgba(var(--secondary-color-rgb), 0.15), transparent 30%),
        radial-gradient(circle at 20% 75%, rgba(var(--main-color-rgb), 0.2), transparent 35%),
        radial-gradient(circle at 80% 75%, rgba(var(--secondary-color-rgb), 0.2), transparent 35%);
    mask-image:
        radial-gradient(ellipse at 50% 50%, white 30%, transparent);
}
div.BackgroundVideoDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
video.BackgroundVideo {
    position: absolute;
    width: 110%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: hue-rotate(250deg);
    mask-image: linear-gradient(transparent, white, transparent);
    z-index: -1;
    opacity: 0.5;
}

div.HomeButtonDiv {
    position: absolute;
    height: 15%;
    aspect-ratio: 1 / 1;
    left: 30%;
    top: 88%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1vh;
    border-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    will-change: opacity;
    z-index: 1;
}
div.HomeButtonIconDivDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
div.HomeButtonIconDiv {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, white, rgba(var(--text-color-rgb), 1), rgba(var(--main-color-rgb), 1));
    mask-image: url("public/Main/Icons/HomeIcon.svg");
    mask-size: contain;
}
section.AboutSection {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
p.AboutText {
    position: absolute;
    top: -26%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50%;
}
div.ScrollWindowDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.7;
}
div.ScrollDiv {
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    background:
            radial-gradient(circle at 100% 0%, rgba(var(--monitor-color-rgb), 1), transparent),
            radial-gradient(circle at 100% 100%, rgba(var(--monitor-color-rgb), 1), transparent), rgba(var(--main-color-rgb), 1);
}
img.FaceBackgroundImage {
    position: absolute;
    width: 28%;
    height: 85%;
    top: 8%;
    left: 68%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
img.FaceForegroundImage {
    position: absolute;
    width: 30%;
    height: auto;
    top: 71%;
    left: 82%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
div.SkillDiv {
    position: absolute;
    width: 60%;
    height: 32%;
    top: 4%;
    left: 4%;
}
div.SkillIconDivDiv1 {
    position: absolute;
    width: 32%;
    height: 100%;
    background:
            radial-gradient(circle at 0% 100%, black, transparent),
            radial-gradient(circle at 100% 0%, black, transparent), rgba(var(--main-color-rgb), 0);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
div.ProgrammingIconDiv {
    position: absolute;
    width: 20%;
    padding-bottom: 20%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, white, rgba(var(--text-color-rgb), 1), rgba(var(--main-color-rgb), 1));
    mask-image: url("public/Main/Icons/ProgrammingIcon.svg");
    mask-size: contain;
}
div.ProgrammingIconDivDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
p.SkillTitleText {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14%;
    opacity: 0;
}
div.SkillIconDivDiv2 {
    position: absolute;
    width: 32%;
    height: 100%;
    left: 34%;
    background:
            radial-gradient(circle at 0% 100%, black, transparent),
            radial-gradient(circle at 100% 0%, black, transparent), rgba(var(--main-color-rgb), 0);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
div.ArtIconDiv {
    position: absolute;
    width: 20%;
    padding-bottom: 20%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, white, rgba(var(--text-color-rgb), 1), rgba(var(--main-color-rgb), 1));
    mask-image: url("public/Main/Icons/ArtIcon.svg");
    mask-size: cover;
}
div.ArtIconDivDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
div.SkillIconDivDiv3 {
    position: absolute;
    width: 32%;
    height: 100%;
    left: 68%;
    background:
            radial-gradient(circle at 0% 100%, black, transparent),
            radial-gradient(circle at 100% 0%, black, transparent), rgba(var(--main-color-rgb), 0);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
div.ToolIconDiv {
    position: absolute;
    width: 20%;
    padding-bottom: 20%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, white, rgba(var(--text-color-rgb), 1), rgba(var(--main-color-rgb), 1));
    mask-image: url("public/Main/Icons/ToolIcon.svg");
    mask-size: contain;
}
div.ToolIconDivDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
p.SkillTextIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15%;
    color: white;
}
div.SkillIconDiv {
    position: absolute;
    width: 28%;
    padding-top: 28%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}
img.SkillIconImage {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.SkillText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6%;
    opacity: 0;
}
div.CPPDiv {
    top: 20%;
    left: 4%;
}
div.JAVADiv {
    top: 20%;
    left: 36%;
}
div.HTMLDiv {
    top: 20%;
    left: 68%;
}
div.CSSDiv {
    top: 41%;
    left: 4%;
}
div.JSDiv {
    top: 41%;
    left: 36%;
}
div.BASHDiv {
    top: 41%;
    left: 68%;
}
div.THREEJSDiv {
    top: 20%;
    left: 4%;
}
div.GSAPDiv {
    top: 20%;
    left: 36%;
}
div.BLENDERDiv {
    top: 20%;
    left: 4%;
}
div.AFTEREFFECTSDiv {
    top: 20%;
    left: 36%;
}
div.PREMIEREPRODiv {
    top: 20%;
    left: 68%;
}
div.PHOTOSHOPDiv {
    top: 41%;
    left: 4%;
}
div.EducationDiv {
    position: absolute;
    width: 60%;
    height: 20%;
    top: 37%;
    left: 4%;
    background:
            radial-gradient(circle at 0% 100%, black, transparent),
            radial-gradient(circle at 100% 0%, black, transparent), rgba(var(--main-color-rgb), 0);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
div.LogoDiv {
    position: absolute;
    width: 12%;
    padding-bottom: 12%;
    top: 42%;
    left: 6.5%;
    border-radius: 10%;
    overflow: hidden;
}
img.LogoImage {
    position: absolute;
    width: 200%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}
p.EducationTitleText {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 20%;
}
p.EducationText1 {
    position: absolute;
    top: 42%;
    left: 20%;
    font-size: 15%;
    color: white;
}
p.EducationText2 {
    position: absolute;
    top: 59%;
    left: 20%;
    font-size: 9.5%;
}
p.EducationText3 {
    position: absolute;
    top: 69%;
    left: 20%;
    font-size: 7%;
}
div.DescriptionDiv {
    position: absolute;
    width: 60%;
    height: 30%;
    top: 58%;
    left: 4%;
    background:
            radial-gradient(circle at 0% 100%, black, transparent),
            radial-gradient(circle at 100% 0%, black, transparent), rgba(var(--main-color-rgb), 0);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
p.DescriptionTitleText {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 20%;
}
p.DescriptionText {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 10%;
}
div.AboutButtonDiv {
    position: absolute;
    height: 15%;
    aspect-ratio: 1 / 1;
    left: 70%;
    top: 88%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1vh;
    border-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    will-change: opacity;
    z-index: 1;
}
div.AboutButtonIconDivDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
div.AboutButtonIconDiv {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, white, rgba(var(--text-color-rgb), 1), rgba(var(--main-color-rgb), 1));
    mask-image: url("public/Main/Icons/AboutIcon.svg");
    mask-size: contain;
}

div.BackgroundGlow1Div {
    position: absolute;
    width: 55%;
    height: 200%;
    background: radial-gradient(ellipse 55% 25%, rgba(var(--secondary-color-rgb), 1), transparent);
    mask-image: linear-gradient(transparent 50%, white 70%);
}
div.BackgroundGlow2Div {
    position: absolute;
    width: 50%;
    height: 300%;
    background: black;
    mask-image: linear-gradient(transparent, white 30%, white 70%, transparent);
    z-index: -1;
}

div.MonitorDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 57.5%;
    height: 48%;
    top: 48.75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:
        radial-gradient(circle at 0% 0%, rgba(var(--monitor-color-rgb), 1), transparent),
        radial-gradient(circle at 100% 100%, rgba(var(--monitor-color-rgb), 1), transparent), rgba(var(--main-color-rgb), 1);
}
div.MonitorGlowDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    --bg: rgba(var(--main-color-rgb), 1);
    background-color: var(--bg);
    filter: blur(20vh);
}

div.PortfolioButtonDiv {
    position: absolute;
    width: 30%;
    height: 15%;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1vh;
    border-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    z-index: 1;
}
div.PortfolioButtonTextDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
p.PortfolioButtonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40%;
}
div.FilterDivDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
div.FilterIconDivDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
div.FilterIconDiv {
    position: absolute;
    width: 2%;
    padding-bottom: 2%;
    top: 25%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    border-style: solid;
    border-width: 0.1vh;
    border-color: white;
}
div.FilterIcon1Div {
    left: 19%;
    background: lightgreen;
}
div.FilterIcon2Div {
    left: 50%;
    background: #ffff8d;
}
div.FilterIcon3Div {
    left: 81%;
    background: lightcoral;
}
div.FilterButtonTextDiv {
    position: absolute;
    width: 25%;
    height: 40%;
    top: 60%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1vh;
    border-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}
div.Filter1Div {
    left: 19%;
}
div.Filter2Div {
    left: 50%;
}
div.Filter3Div {
    left: 81%;
}
p.FilterButtonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17.5%;
}

section.HomeSection {
    position: absolute;
    width: 100%;
    height: 100%;
}
video.VideoPlayer {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}
video.VideoBuffer0, video.VideoBuffer1 {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
p.HomeText1 {
    position: absolute;
    top: -25%;
    left: 29%;
    transform: translate(-50%, -50%);
    font-size: 40%;
}
p.HomeText2 {
    position: absolute;
    top: -13%;
    left: 35.4%;
    transform: translate(-50%, -50%);
    font-size: 20%;
}

section.SlotSection {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
}
p.SlotText {
    position: absolute;
    top: -26%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50%;
}
div.Slot1Div {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
            radial-gradient(circle at 0% 0%, rgba(var(--monitor-color-rgb), 1), transparent),
            radial-gradient(circle at 100% 100%, rgba(var(--monitor-color-rgb), 1), transparent),
            radial-gradient(circle at 50% 50%, black 25%, transparent),
            rgba(var(--main-color-rgb), 1);
}
div.Slot2Div {
    position: absolute;
    width: 100%;
    height: 100%;
    --radius: -0.5%;
    background: radial-gradient(circle at 50% 50%, black calc(var(--radius)), transparent calc(var(--radius) + 0.5%));
}